.playersGrid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.playersGrid:not(:last-child) {
  padding-bottom: 2rem;
}

.cardContainer {
  width: 100%;
  aspect-ratio: 3/4;
  perspective: 1000px;
  cursor: pointer;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.cardFace {
  position: absolute;
  width: 100%;
  height: 100%;
  /* background: white; */
  border-radius: var(--border-radius-img);
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.playerImageWrapper {
  position: relative;
  width: 100%;
  flex: 1;
  min-height: 0;
}

.playerImage {
  object-fit: cover;
  object-position: top;
}

.playerInfo,
.playerDetails {
  padding: 1rem;
  background: white;
}

.playerInfo {
  position: relative;
}

.basicInfo {
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: center;
  gap: 1rem;
}

.playerNumber {
  font-size: var(--h1-font-size);
  font-family: var(--font-mister-pablo);
  color: var(--hc-black);
  line-height: 1;
}

.playerName {
  font-size: var(--normal-font-size);
  font-family: var(--font-outfit-bold);
  margin: 0;
  color: var(--hc-black);
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.captainLabel,
.assistantLabel {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 1.5rem;
  font-family: var(--font-roboto-bold);
  color: var(--accent-color-more);
}

.playerStats {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 1rem;
  font-family: var(--font-outfit-regular);
  color: #666;
  margin-bottom: 1rem;
}

.playerStat {
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
}

.playerStatLabel {
  font-family: var(--font-outfit-regular);
  color: var(--accent-color-grey);
  font-size: 0.7rem;
  text-transform: uppercase;
}

.playerStatValue {
  font-family: var(--font-outfit-bold);
  font-size: 0.7rem;
  color: var(--accent-color-grey);
}

.playerRoles {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.captain,
.assistantCaptain {
  font-size: 0.875rem;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  font-family: var(--font-outfit-bold);
  text-transform: uppercase;
}

.captain {
  background: #ffd700;
  color: var(--hc-black);
}

.assistantCaptain {
  background: #c0c0c0;
  color: var(--hc-black);
}

.defaultActionImage {
  object-fit: contain;
  background-color: var(--accent-color-grey-layout);
}

@media screen and (min-width: 481px) and (max-width: 1249px) {
  .cardContainer {
    width: 33%;
  }

  .basicInfo {
    gap: 0.5rem;
  }

  .playerNumber {
    font-size: var(--h2-font-size);
  }

  .playerName {
    font-size: clamp(0.7rem, 2vw, var(--normal-font-size));
  }
}

@media (min-width: 992px) {
  .playersGrid {
    gap: 2rem;
  }
}

@media (min-width: 1250px) {
  .cardContainer {
    width: 23%;
  }

  .basicInfo {
    gap: 1rem;
  }
}
