.teamSliderWrapper {
  /* padding-block: 1rem; */
  margin-inline: -15px;
}
.teamSliderImage {
  width: 100%;
  height: 250px;
  object-fit: fill;
  position: relative;
  opacity: 0.5;
  transition: opacity .3s ease-in-out;
}
.teamSliderImage:hover {
  opacity: 1;
}

@media screen and (min-width: 576px) {
  .teamSliderImage {
    height: 450px;
  }
}
@media screen and (min-width: 992px) {
  .teamSliderImage {
    height: 650px;
  }
}
