.footerItem::after {
    opacity: 0;
    visibility: hidden;
    content: '';
    display: block;
    width: 90%;
    height: 2px;
    margin-inline: auto;
    background-color: var(--hc-red);
  }
  .footerItem:hover::after {
    opacity: 1;
    visibility: visible;
  }