.logoWrapper {
  min-height: 6.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-inline: auto;
  padding-inline: var(--container-padding);
}
.logoWrapper > ul {
  align-self: flex-end;
}
.logoFlex {
  display: flex;
  align-items: center;
  max-width: 12.5rem;
  width: 100%;
}
.logoTextParent {
  position: relative;
  width: 100%;
  aspect-ratio: 8.56/1;
}
.logoText {
  object-fit: contain;
}

@media screen and (min-width: 345px) {
  .logoWrapper > ul {
    align-self: center;
  }
}

@media screen and (min-width: 576px) {
  .logoWrapper {
    justify-content: space-between;
  }
}

@media screen and (min-width: 590px) {
  .logoWrapper > ul > li {
    font-size: 2rem;
  }
}

@media screen and (min-width: 650px) {
  .logoWrapper > ul {
    gap: 2rem;
  }
  .logoFlex {
    max-width: 22.5rem;
  }
}
