@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(221, 255, 0, 0.5);
  }
  50% {
    box-shadow: 0 0 0.625rem 0.313rem rgba(172, 209, 4, 0.3);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(221, 255, 0, 0.5);
  }
}

.menuItem {
  width: 90%;
  border-bottom: 0.063rem solid var(--accent-color-grey);
  text-align: center;
  transition: all 0.3s ease;
  font-family: var(--font-roboto-bold);
  font-size: var(--normal-font-size);
}

.active {
  position: relative;
}

.active::after {
  content: '';
  position: absolute;
  width: 0.188rem;
  height: 0.188rem;
  background-color: var(--hc-yellow);
  border-radius: 50%;
  transform: translateX(-50%);
  top: -0.156rem;
  animation: pulse 3s infinite ease-in-out;
}

@media screen and (min-width: 992px) {
  .menuItem {
    width: unset;
    border-bottom: unset;
    text-align: unset;
  }
  
  .menuItem::after {
    opacity: 0;
    visibility: hidden;
    content: '';
    display: block;
    width: 90%;
    height: 0.125rem;
    margin-inline: auto;
    background-color: var(--hc-red);
  }
  
  .menuItem:hover::after {
    opacity: 1;
    visibility: visible;
  }
}
