.navbar {
  border-top: 0.1rem solid var(--accent-color-grey-layout);
  border-bottom: 0.1rem solid var(--accent-color-grey-layout);
  padding: 1rem var(--container-padding);
  text-align: right;
}
.navbarWrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
}
.navbarList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  position: fixed;
  right: -100%;
  top: 0;
  height: 100vh;
  width: 60%;
  transition: all 0.3s ease;
  z-index: var(--z-hamburgerMenu);
  text-transform: uppercase;
  background-color: var(--bg-body-black);
  font-family: var(--font-roboto-bold);
}
.active {
  right: 0;
}
.hamburger,
.hamburgerClose {
  font-size: 2rem;
  cursor: pointer;
  transition: color 0.3s ease;
}
.hamburger {
  order: 2;
  color: white;
}
.hamburgerClose {
  align-self: flex-end;
  margin-top: 1rem;
  margin-right: 0.5rem;
  color: white;
}
.tableGamesIcon {
  cursor: pointer;
  transition: color 0.3s ease;
  color: white;
  font-size: 2rem;
}
/* Style dla strony głównej */
.navbar.homePage .hamburger,
.navbar.homePage .tableGamesIcon {
  color: black;
}
/* Gdy zescrollowane na stronie głównej */
.navbar.homePage.scrolled .hamburger,
.navbar.homePage.scrolled .tableGamesIcon {
  color: white;
}
/* Ikony w rozwiniętym menu mobilnym zawsze białe */
.active :global(.socialMediaLink) {
  color: white !important;
}
/* Style dla desktop */
@media screen and (min-width: 992px) {
  .navbarWrapper {
    justify-content: flex-start;
    margin-inline: auto;
    gap: unset;
  }
  .navbarList {
    flex-direction: row;
    justify-content: flex-start;
    position: static;
    height: unset;
    width: unset;
    z-index: unset;
    background-color: unset;
  }
  .navbarList > ul {
    display: none;
  }
  .hamburger,
  .hamburgerClose {
    display: none;
  }
  .tableGamesIcon {
    display: none;
  }
}
