.meetClub {
  position: relative;
  height: auto;
  margin: 2rem 0 0;
}

.meetClubBg {
  height: 100%;
  background-image: url('/images/hc-meet-club-bg.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.content {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  height: 100%;
  margin: 0 auto;
  padding: 1rem;
}

.info {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  z-index: 1;
  background: rgba(0, 0, 0, 0.8);
  padding: 1.5rem;
  border-radius: 0.5rem;
}

.description {
  color: var(--text-white);
  font-size: var(--normal-font-size);
  font-family: var(--font-outfit-regular);
  text-align: center;
  margin-bottom: 1rem;
  white-space: pre-wrap;
}

.stats {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.statItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.statNumber {
  font-family: var(--font-roboto-bold);
  font-size: var(--h2-font-size);
  background: var(--hc-gold);
  background-clip: text;
  color: transparent;
}

.statText {
  color: var(--text-white);
  font-size: var(--small-font-size);
  font-family: var(--font-outfit-regular);
  text-transform: uppercase;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .meetClub {
    height: 100dvh;
    padding: 2rem 0 0;
    margin: unset;
  }

  .content {
    gap: 2.5rem;
    max-width: 37.5rem;
  }

  .info {
    align-self: center;
    padding: 2rem;
  }

  .description {
    text-align: center;
    max-width: 37.5rem;
  }
}
