.crestContainer {
  position: relative;
  width: 100%;
  max-width: 25rem;
  margin: 0 auto;
}

.crest {
  width: 100%;
  height: auto;
  display: block;
}

.highlightOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.highlightArea {
  position: absolute;
  background: transparent;
  transition: all 0.3s ease;
}

/* Definiujemy pozycje i kształty dla każdego obszaru */
.left-lion {
  top: 35%;
  left: 13%;
  width: 29%;
  height: 30%;
}

.right-lion {
  top: 35%;
  right: 15%;
  width: 29%;
  height: 30%;
}

.main-shield {
  top: 38%;
  left: 41%;
  width: 17%;
  height: 17%;
}

.shield-crown {
  top: 34%;
  left: 45%;
  width: 9%;
  height: 5%;
}

.left-lion-crown {
  top: 36%;
  left: 28%;
  width: 6%;
  height: 3%;
}

.right-lion-crown {
  top: 36%;
  right: 29%;
  width: 6%;
  height: 3%;
}

.hockey-sticks-top-left {
  top: 21%;
  left: 28%;
  width: 18%;
  height: 16%;
}
.hockey-sticks-top-right {
  top: 21%;
  right: 28%;
  width: 18%;
  height: 16%;
}
.hockey-sticks-bottom-left {
  top: 52.5%;
  left: 36.5%;
  width: 8%;
  height: 8%;
}

.hockey-sticks-bottom-right {
  top: 52.5%;
  right: 38.5%;
  width: 8%;
  height: 8%;
}

.club-name-top {
  top: 0%;
  left: 7%;
  width: 85%;
  height: 30%;
}

.club-name-bottom {
  bottom: 0%;
  left: 10%;
  width: 85%;
  height: 25%;
}

.region-name {
  bottom: 27%;
  left: 35%;
  width: 30%;
  height: 8%;
}

.motto {
  top: 59%;
  left: 35%;
  width: 30%;
  height: 5%;
}

.foundation-dates-left {
  bottom: 28%;
  left: 28%;
  width: 12%;
  height: 8%;
}

.foundation-dates-right {
  bottom: 28%;
  right: 28%;
  width: 12%;
  height: 8%;
}

.active {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
  animation: blink 1.5s infinite;
}

@keyframes blink {
  0% {
    background: transparent;
  }
  50% {
    background: rgba(255, 255, 255, 0.3);
  }
  100% {
    background: transparent;
  }
}

@media (min-width: 768px) {
  .crestContainer {
    position: sticky;
    top: 12.5rem;
  }
}

@media (min-width: 1900px) {
  .crestContainer {
    max-width: 31.25rem;
  }
}
