.sliderSwiperWrapper {
  width: 100%;
  height: 6rem;
  margin-inline: auto;
  padding-inline: 1.5rem;
  /* padding-inline: var(--container-padding); */
  color: black;
  display: flex;
  align-items: center;
}

.gameWrapper {
  display: grid;
  grid-template-columns: 3rem 1fr 1rem;
  align-items: center;
  gap: 0.5rem;
}
.gameDate {
  background: var(--hc-gold);
  font-weight: var(--font-semi);
  font-size: var(--small-font-size);
  border-radius: 1rem;
}
.gameDetails {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
.gameDate > div {
  text-align: center;
  width: 50%;
  margin-inline: auto;
}
.gameType {
  display: block;
  text-align: center;
  background: var(--hc-gold);
  border-radius: 0.5rem;
}
.gameScore {
  display: flex;
  flex-direction: column;
  color: #eee;
}
.sliderSwiperSlide {
  padding: 0 2.5rem;
}
.teamName {
  font-size: 0.6rem;
  margin-left: 0.3rem;
  color: #eee;
  font-family: var(--font-outfit-regular);
}

@media screen and (min-width: 992px) {
  .gameScore {
    align-self: self-end;
  }
}
