.sliderSwiperWrapper {
  width: 100%;
  height: 6rem;
  margin-inline: auto;
  padding-inline: 15px;
  color: black;
  display: flex;
  align-items: center;
}

.gameWrapper {
  display: grid;
  grid-template-columns: 3rem 1fr 1rem;
  align-items: center;
  gap: 0.5rem;
}
.gameDate {
  background-color: #eee;
  font-weight: var(--font-semi);
  font-size: var(--small-font-size);
  border-radius: 1rem;
}
.gameDetails{
  display: flex;
  flex-direction: column;
  gap: .4rem;
}
.gameDate > div {
  text-align: center;
  width: 50%;
  margin-inline: auto;
}
.gameType {
  display: block;
  text-align: center;
  background-color: #eee;
  border-radius: 0.5rem;
}
.gameScore {
  display: flex;
  flex-direction: column;
}
.sliderSwiperSlide{
    padding: 0 2.5rem;
}
.teamName{
  font-size: .6rem;
  margin-left: .3rem;
}

@media screen and (min-width: 992px) {
  .gameScore {
    align-self: self-end;
  }
}
