.sponsorsSection {
  background-color: var(--bg-body-black);
}
.sponsorsTitle {
  font-size: var(--h2-font-size);
  color: var(--text-color);
  text-align: center;
  text-transform: uppercase;
  padding-bottom: .5rem;
}
.sponsorsWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 7.5rem;
  width: 100%;
  
}
.sponsorsImage {
  border-radius: 12px;
}
